{% extends "base.html" %}

{% block start%}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
            <div class="col-12">
                <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">Appointment form</h3>
            </div>
            {% for message in messages %}
              <div class="alert alert-dismissible {{ message.tags }}" role="alert">
                <div>{{ message | safe }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
            <form method="post" action="{% url 'book_appointment' doctor_id %}">
              {% csrf_token %}
                <div class="row g-3">
                    
                    <div class="col-12">
                        <!-- Select-style input for dropdown -->
                         <label for="selectDropdown-doctor" class="mx-1">Doctor Selected</label>
                        <input type="text" class="form-control dropdown-toggle" id="selectDropdown-doctor" name="doctor" value="{{doctor}}" aria-expanded="false" readonly></input>
                        <!-- Dropdown menu structure -->
                    </div>

                    <div class="col-12">
                      <!-- Select-style input for dropdown -->
                      <input type="text" class="form-control dropdown-toggle" id="selectDropdown-member" name="member" placeholder="Select a Member" data-bs-toggle="dropdown" aria-expanded="false" readonly>
                      <input name="patient_id" value="" hidden/>
                      <!-- Dropdown menu structure -->
                      <ul class="dropdown-menu dm-member" aria-labelledby="selectDropdown-member" id="dropdown-menu-member">
                          <li class="px-3 py-2">
                              <input type="text" class="form-control" id="searchInput-member" placeholder="Search...">
                          </li>
                          <li><hr class="dropdown-divider"></li>
                          <!-- Dropdown items go here -->
                          {% for member in members %}
                          <li><a class="dropdown-item di-member" onclick="selectOption('{{member.first_name}} {{member.last_name}}','member','{{member.id}}')">{{member.first_name}} {{member.last_name}}</a></li>
                          {% endfor %}
                      </ul>
                    </div> 
                    
                    <div class="col-12">
                      <p class="ms-2 my-0" style="color: #393f81;">Couldn't find the member? <a href="{% url 'addapatient' %}?next={% url 'book_appointment' doctor_id %}"
                        style="color: #393f81;">Add here</a></p>
                    </div>
                    
                    
  
                    <div class="col-md-12">
                      {% for key,values in slots.items %}
                      <h6>{{key}}</h6>
                      {% for value in values %}
                      <p>{{value}}</p>
                      {% endfor %}
                      {% endfor %}
                    </div>
                    <div class="col-12 mt-5">                        
                      <button type="submit" class="btn btn-primary float-end">Book Appointment</button>
                      <a class="btn btn-outline-secondary float-end me-2" href="{% url 'home' %}">Cancel</a>
                  </div>
                </div>
            </form>
        </div>
    </div>
  </div>
  
  {% endblock %}
  
  
  
  {% block jscript %}
    <!-- Bootstrap JS and Popper.js dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  
  <!-- JavaScript for filtering dropdown items and selecting an option -->
  <script>
    // JavaScript to filter dropdown items based on search input
    document.getElementById('searchInput-member').addEventListener('input', function() {
        const filter = this.value.toLowerCase();
        const items = document.querySelectorAll('#dropdown-menu-member .di-member');
  
        items.forEach(item => {
            if (item.textContent.toLowerCase().includes(filter)) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
    });
  
    document.getElementById('searchInput-doctor').addEventListener('input', function() {
        const filter = this.value.toLowerCase();
        const items = document.querySelectorAll('#dropdown-menu-doctor .di-doctor');
  
        items.forEach(item => {
            if (item.textContent.toLowerCase().includes(filter)) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
    });
  
    // JavaScript to handle selecting an option
    function selectOption(value,role,member_id) {
        document.getElementById('selectDropdown-'+role).value = value;
        document.getElementById('patientId').value = member_id ;
        const dropdownMenu = document.getElementById('dropdown-menu-'+role);
        const bsDropdown = bootstrap.Dropdown.getInstance(dropdownMenu);
        bsDropdown.hide(); // Hide the dropdown after selecting
    }
  </script>
{% endblock %}