{% extends 'base.html' %}
{% load static %}

{% block start %}


<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <!-- <img src="{{doctor.avatar.url}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;"> -->
                <div class="text-center mb-4">
                    <img src="{{ doctor.avatar.url }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px; height: 150px; object-fit: cover;">
                </div>
              <h5 class="my-3"></h5>
              <!-- <p class="text-muted mb-1">{{doctor.department}}</p> -->
              {% for department in doctor.department.all %}
              <span class="text-muted mb-1"> {{department}} | </span>
              {% endfor %}
              <p class="text-muted mb-4">{{doctor.specialization}}</p>
              <div class="d-flex justify-content-center mb-2">
                {% if request.user == doctor.user %}
                <a href="{% url 'doctor-update' doctor.id %}" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">
                    Edit
                </a>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Awards and Achivements</span> 
                </p>
                <p class="text-muted mb-0">{{doctor.Awards}}</p>
                
              </div>

          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{doctor.user.first_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Last Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{doctor.user.last_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Experience</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{doctor.dayofstarting|timesince}}</p>
                </div>
                </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Specialization</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{doctor.specialization}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-2"><span class="text-primary font-italic me-1">Availability</span> 
                  </p>
                  {% for key,values in availability.items %}
                  <div class="input-group my-1">
                    <span class="input-group-text">{{key}}</span>
                    {% for value in values %}
                    <input type="text" aria-label="First name" class="form-control" value="{{value}}" readonly/>
                    {% endfor %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">About Me</span> 
                  </p>
                  <p class="text-muted mb-0">{{doctor.Bio}}</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





{% endblock %}